# Adult Data Analysis with Python
This project is part of my FreecodeCamp Data Analysis with python certification. I was using code to answer various questions from data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.data.csv', error_bad_lines=False)

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### How many people are there in each race group?

In [4]:
race_count = df['race'].value_counts()

In [5]:
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

### What is the average age of men?

In [6]:
average_age_men = round(df[df['sex']=='Male']['age'].mean(), 1)
average_age_men

39.4

### What is the percentage of people with bachelors degrees

In [7]:
percentage_bachelors = df['education'].value_counts(normalize=True) * 100
percentage_bachelors = percentage_bachelors.loc['Bachelors']
percentage_bachelors

16.44605509658794

### What is the percentage of people with avanced education (Bachelors, Masters, Doctorate) who earn more than 50K

In [8]:
df['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [9]:
higher_education = df[(df['education']=='Bachelors') | (df['education']=='Masters') | (df['education']=='Doctorate')]
higher_education = higher_education['salary'].value_counts(normalize=True)*100
higher_education = higher_education.loc['>50K']
higher_education

46.535843011613935

### What is the percentage of people without avanced education (Bachelors, Masters, Doctorate) who earn more than 50K¶

In [10]:
lower_education = df[(df['education']!='Bachelors') & (df['education']!='Masters') & (df['education']!='Doctorate')]
lower_education = lower_education['salary'].value_counts(normalize=True)*100
lower_education = round(lower_education.loc['>50K'],1)
lower_education

17.4

In [11]:
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education_rich = round(len(lower_education[lower_education['salary'] == '>50K']) / len(lower_education) * 100, 1)
lower_education_rich

17.4

### Minimum hours worked per week

In [12]:
df['hours-per-week'].min()

1

### What is the percentage of people who work the minimum number of hours but earn >50K

In [13]:
df[df['hours-per-week']==df['hours-per-week'].min()]['salary'].value_counts(normalize=True)*100

<=50K    90.0
>50K     10.0
Name: salary, dtype: float64

### Which country has the highest percentage of people who earn more than 50K

In [14]:
highest_earning_country_a = df.groupby(['native-country']).size()

In [15]:
highest_earning_country_b = df[df['salary']=='>50K'].groupby(['native-country']).size()

In [16]:
highest_earning_country_c = highest_earning_country_b/highest_earning_country_a *100
highest_earning_country_c.sort_values(ascending=False).index[0]

'Iran'

### What is the percentage

In [17]:
highest_earning_country_c.sort_values(ascending=False)[0]

41.86046511627907

### What is the most common profession for people earning >50K in India

In [18]:
mcp = df[(df['salary']=='>50K') &(df['native-country']=='India')] ['occupation'].value_counts(normalize=True)*100
mcp = mcp.index[0]
mcp

'Prof-specialty'